In [2]:
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [ ]:
# Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Red and Blue States
url = 'https://www.gkgigs.com/list-of-blue-states-and-red-states/'

In [4]:
# Creating Red and Blue Dataframe from source above
blue = ['Arizona','California','Colorado','Connecticut','Delaware','Georgia',
        'Hawaii','Illinois','Maine','Maryland','Massachusetts','Michigan','Minnesota',
        'Nevada','New Hampshire','New Jersey','New Mexico','New York','Oregon','Pennsylvania',
        'Rhode Island','Vermont','Virginia','Washington','Wisconsin']

red = ['Alabama','Alaska','Arkansas','Florida','Idaho','Indiana','Iowa','Kansas','Kentucky',
        'Louisiana','Mississippi','Missouri','Montana','Nebraska','North Carolina','North Dakota',
        'Ohio','Oklahoma','South Carolina','South Dakota','Tennessee','Texas','Utah','West Virginia',
        'Wyoming']

In [12]:
# Pandas DF
states_df = pd.DataFrame({"Blue": blue,
                            "Red": red})

states_df.head()

          Blue       Red
0      Arizona   Alabama
1   California    Alaska
2     Colorado  Arkansas
3  Connecticut   Florida
4     Delaware     Idaho

In [26]:
# To Json
states_df.to_json('./static/data/state_color.json', orient='index')

In [6]:
# To CSV
states_df.to_csv('./static/data/state_color.csv', index=False)

In [3]:
# Center points of states
url = "https://www.latlong.net/category/states-236-14.html"

In [4]:
# Center point tables clean up
tables = pd.read_html(url)
center_points_df = tables[0]

# Split State and Country 
center_points_df[['State', 'Country']] = center_points_df['Place Name'].str.split(',', expand=True)

# Drop columns
center_points_df.drop(['Place Name', 'Country'], axis=1, inplace=True)

# Sort by state alphabetically
center_points_df.sort_values(by=['State'], inplace=True)

# Rearrange columns
center_points_df = center_points_df[['State', 'Latitude', 'Longitude']]

center_points_df.head()

         State   Latitude   Longitude
37     Alabama  32.318230  -86.902298
24      Alaska  66.160507 -153.369141
42     Arizona  34.048927 -111.093735
15    Arkansas  34.799999  -92.199997
45  California  36.778259 -119.417931

In [5]:
# To Json
center_points_df.to_json('./static/data/center_points.json', orient='index')

In [15]:
# To CSV
center_points_df.to_csv('./static/data/center_points.csv', index=False)